name: Build Image, Push to DockerHub, Version Image

on:
  push:
    paths:
      - "Dockerfile"

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag ${{ secrets.DOCKERHUB_USERNAME }}/dsci310-ia3-aryant2707-docker:latest

    - name: Push the Docker image
      run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/dsci310-ia3-aryant2707-docker:latest

